extends layout

block content
	.container-fluid
		case error
			when 1
				.col-md-4
					.alert.alert-danger Faltan campos en el formulario o alguno es NULL
					a(class='btn btn-primary', href='./') Volver al formulario
			when 2
				.col-md-4
					.alert.alert-danger #{mensaje}
					a(class='btn btn-primary', href='./') Volver al formulario
			when 0
				h1 Datos del formulario
				.col-md-3
					ul.list-group
						li.list-group-item El host es: #{host}
						li.list-group-item El usurario es: #{user}
						li.list-group-item La contraseña es: #{pass}
						li.list-group-item La base de datos es: #{bd}
						li.list-group-item El puerto es: #{port}
						li.list-group-item El archivo creado es: #{archivo_sql}
