extends layout

block content
	.container-fluid
		case error
			when 1
				.col-md-4
					.alert.alert-danger Faltan campos en el formulario o alguno es NULL
					a(class='btn btn-primary', href='./') Volver al formulario
			when 2
				.col-md-4
					.alert.alert-danger #{mensaje}
					a(class='btn btn-primary', href='./') Volver al formulario
			when 0
				.col-md-6
					.alert.alert-success La importación ha concluido con éxito!
				.row
					.col-md-3
						h1 Origen:
						ul.list-group
							li.list-group-item #{host1}
							li.list-group-item #{user1}
							li.list-group-item #{bd1}
							li.list-group-item #{port1}
					.col-md-3
						h1 Destino:
						ul.list-group
							li.list-group-item #{host2}
							li.list-group-item #{user2}
							li.list-group-item #{bd2}
							li.list-group-item #{port2}
				.row
					div El archivo creado es: #{archivo_sql}
